[01;34mbases-de-datos-avanzada-ubuntu/actividades/actividadClase05/actividadEnClase/frontend/src/app/components/producto[0m
│   00Tree.html
│   [01;34mactualizar-producto[0m
│   │   actualizar-producto.component.css
│   │   actualizar-producto.component.html
│   │   actualizar-producto.component.spec.ts
│       actualizar-producto.component.ts
├── [01;34mcrear-producto[0m
│   │   crear-producto.component.css
│   │   crear-producto.component.html
│   │   crear-producto.component.spec.ts
│       crear-producto.component.ts
├── [01;34meliminar-producto[0m
│   │   eliminar-producto.component.css
│   │   eliminar-producto.component.html
│   │   eliminar-producto.component.spec.ts
│       eliminar-producto.component.ts
└── [01;34mmostrar-producto[0m
    │   mostrar-producto.component.css
    │   mostrar-producto.component.html
    │   mostrar-producto.component.spec.ts
        mostrar-producto.component.ts

4 directories, 17 files
