[01;34mbases-de-datos-avanzada-ubuntu/actividades/actividadClase05/actividadEnClase/frontend/src/app/components/tipoProducto[0m
│   00Tree.html
│   [01;34mactualizar-tipo-producto[0m
│   │   actualizar-tipo-producto.component.css
│   │   actualizar-tipo-producto.component.html
│   │   actualizar-tipo-producto.component.spec.ts
│       actualizar-tipo-producto.component.ts
├── [01;34mcrear-tipo-producto[0m
│   │   crear-tipo-producto.component.css
│   │   crear-tipo-producto.component.html
│   │   crear-tipo-producto.component.spec.ts
│       crear-tipo-producto.component.ts
├── [01;34meliminar-tipo-producto[0m
│   │   eliminar-tipo-producto.component.css
│   │   eliminar-tipo-producto.component.html
│   │   eliminar-tipo-producto.component.spec.ts
│       eliminar-tipo-producto.component.ts
└── [01;34mmostrar-tipo-producto[0m
    │   mostrar-tipo-producto.component.css
    │   mostrar-tipo-producto.component.html
    │   mostrar-tipo-producto.component.spec.ts
        mostrar-tipo-producto.component.ts

4 directories, 17 files
